@{
    string ssl = "http://";
    string hp = "";
    string language = MoreAll.Captionlanguage.SetLanguage();
    string RawUrl = Request.RawUrl.ToString();
    hp = Removelink.RemoveUrl(RawUrl);
    if (Commond.Setting("SSL").Equals("1"))
    {
        ssl = "https://";
    }
    ViewBag.Title = VS.ECommerce_MVC.App.Template.WebTitle(RawUrl); 
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Html.Raw(Home.Header(ssl, Request.Url.Host, RawUrl, Commond.RequestMenu(hp), Request.RawUrl))

	   
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css' media='all' />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=vietnamese" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=vietnamese" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">

    <link href="~/Resources/css/stylesXOASSSSSSSS.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"> -->
    <link href='/Resources/abc/owl.carousel.min7f30.css' rel='stylesheet' type='text/css' media='all' />
    <!-- Build Main CSS -->
    <link href='/Resources/abc/base.scss7f30.css' rel='stylesheet' type='text/css' media='all' />
    <link href='/Resources/abc/style.scss7f30.css' rel='stylesheet' type='text/css' media='all' />
    <link href='/Resources/abc/update.scss7f30.css' rel='stylesheet' type='text/css' media='all' />
    <link href='/Resources/abc/module.scss7f30.css' rel='stylesheet' type='text/css' media='all' />
    <link href='/Resources/abc/responsive.scss7f30.css' rel='stylesheet' type='text/css' media='all' />
    <link href='/Resources/abc/lightbox_custome7f30.css' rel='stylesheet' type='text/css' media='all' />
    <!-- Header JS -->
    @*<script src='/Resources/abc/jquery-2.2.3.min7f30.js' type='text/javascript'></script>*@

    <script src="~/Resources/js/jquery-1.7.1.min.js"></script>
    <link href="/Resources/css/Css_All.css" rel="stylesheet" type="text/css" />
    <!-- Zoom Products -->
    <link href="/Resources/css/smoothproducts.css" rel="stylesheet" type="text/css" />
    <!--Ènd Zoom Products -->
    <link href="/Resources/ResponsiveNews/css/flexnav.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/Resources/css/Mobile.css" rel="stylesheet" type="text/css" />

</head>
<body class="loadings">
    @Html.Raw(Home.Body(ssl, language))
    @{Html.RenderAction("Header", "My_Partialview");}
    @{Html.RenderAction("Nav_conten", "My_Partialview");}
    <div class="container margin-bottom-15">
        <div class="wrp_border_collection">
            <div class="row">
                @RenderBody()
                @{Html.RenderAction("Lefmenu", "My_Partialview");}
            </div>
        </div>
    </div>
    @{Html.RenderAction("Footer", "My_Partialview");}
     @Html.Raw(Commond.Setting("Livechat"))
    <link href='/Resources/abc/bpr-products-module7f30.css' rel='stylesheet' type='text/css' media='all' />
    <div class="bizweb-product-reviews-module"></div>
    <!-- Syntax Highlighter -->
    <script src="/Resources/Responsive/js/jquery.flexnav.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".flexnav").flexNav();
        });
        function openNav() { document.getElementById("mySidenavt").style.width = "250px"; }
        function closeNav() { document.getElementById("mySidenavt").style.width = "0"; }
    </script>

    <!-- ShopCart -->
    <link href="/Resources/ShopCart/css/popup.css" rel="stylesheet" type="text/css" />
    <script src="/Resources/ShopCart/js/popup.js" type="text/javascript"></script>
    <link href="/Resources/ShopCart/css/Stylecart.css" rel="stylesheet" type="text/css" />
    <!-- ShopCart -->
    <!-- Zoom Products -->
    <script type="text/javascript" src="/Resources/js/smoothproducts.min.js"></script>
    <script type="text/javascript">
        $('.sp-wrap').smoothproducts();
    </script>

    <script src='/Resources/abc/option-selectors7f30.js' type='text/javascript'></script>
    <script src='/Resources/abc/api.jquery.js' type='text/javascript'></script>
    <script src='/Resources/abc/owl.carousel.min7f30.js' type='text/javascript'></script>
    <script src='/Resources/abc/double_tab_togo7f30.js' type='text/javascript'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<script src='/Resources/abc/cs.script7f30.js' type='text/javascript'></script>*@
    <script src='/Resources/abc/appear7f30.js' type='text/javascript'></script>
    <script src='/Resources/abc/main7f30.js' type='text/javascript'></script>

    <!-- Popup Shopcart Products -->
    <div id="jName" style="margin-bottom: 25px; text-align: center; background: #fff8d1 none repeat scroll 0 0; border: 1px solid #fcab0f; border-radius: 3px; bottom: 15px; color: #000; display: none; padding: 10px; position: fixed; right: 0; width: 300px; z-index: 9999;"></div>
    @*<%-- Ajaxloading--%>*@
    <div id="Ajaxloading">
        <div class="inner">
            <img src="/Resources/ShopCart/images/ajax-loader_2.gif"><p>Đang xử lý...</p>
        </div>
    </div>
    @*<%-- Ajaxloading--%>
        <%-- popupbox--%>*@
    <div class="popupbox3" id="popuprel3">
        <div class="closes">
            <img src="/Resources/ShopCart/images/b_close.png" />
        </div>
        <div id="intabdiv3">
            <div id="scollssss">
                <div id="cartContent"></div>
            </div>
        </div>
    </div>
    <div style="display: none;" id="fade"></div>
    @*<%-- popupbox--%>
        <%--lazyload_News Load ảnh và iframe sau khi load web xong -- và js auto height--%>*@
    <script src="/Resources/js/equalheight.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            equalheight('.oother');
        });
        $(window).resize(function () {
            equalheight('.oother');
        });
    </script>
    @*<script type="text/javascript" src="/Resources/js/lazyload_News.js"></script>*@
    <script src="/Resources/js/jquery.devrama.lazyload.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.DrLazyload({ effect: "fadeIn" }); //Yes! that's it!
        });
    </script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    @RenderSection("jsFooter", required: false)
</body>
</html>
