@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create_Drop</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @*Kiểu datalist này chỉ để lọc tìm kiếm chứ ko dùng dc cho dạng active trạng thái*@
            <input list="countries" type='text' placeholder="Select Type" name="IDNhom" id='IDNhom' />
            <datalist id="countries">
                <option data-value='1' value='India'></option>
                @Html.Raw(ViewBag.ShowDanhMucNews)
            </datalist>
            @Html.Hidden("datalistSelected")
            <input type="submit" value="Register" id="inputID" class="btnmvc" />
        }
        <script>
            $('#IDNhom').bind("input", function () {
                var value = $(this).val();
                $('#datalistSelected').val(value);
            })
        </script>


        <input list="browsers" id="myBrowser" name="myBrowser" />
        <datalist id="browsers">
            <option value="Chrome">
            <option value="Firefox">
            <option value="Internet Explorer">
            <option value="Opera">
            <option value="Safari">
            <option value="Microsoft Edge">
        </datalist>


        <select id="ddlDanhMuc" name="ddlDanhMuc" datalist="ddlDanhMucss">
            <option value="0">== Chọn chuyên mục ==</option>
            @Html.Raw(ViewBag.ShowDanhMuc)
        </select>
        <br /><br />

        @Html.Raw(ViewBag.ShowDropdowlist)

        <br /><br />
        @Html.DropDownList("ddlnhomsp", " === Nhóm sản phẩm ===")

    </div>
</body>
</html>
