@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string language = MoreAll.Captionlanguage.SetLanguage();
}
@section jsFooter{
    <script src="~/Resources/ScripMvc/DangKy.js"></script>
}
@*đăng ký đăng nhập hay có cả ảnh đại diện , thì lấy code ở trang 3mpic.vn/ 02/2020 The Anh*@

@using (Html.BeginForm())
{
    <section class="margin-top-30">
        <div class="wrap_ padding_mobile">
            <div class="row">
                <div class="section_maps">
                    <div class="container max767 title_head margin-bottom-20">
                        <div class="page_title page__ ">
                            <h1 class="title_page_h1"><span>Đăng ký thành viên</span></h1>
                        </div>

                    </div>
                    <div class="container contact contact-owf">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="page-login page_cotact">
                                    <div id="pagelogin">
                                        <div class="contact-form">
										 <div id="ThongBao">@Html.Raw(TempData["ThongBao"])</div>
                                            <div style="padding: 10px 10px 10px 10px; color:red">@ViewBag.ThongBao</div>
                                            <div class="form-signup clearfix">
                                                <div class="group_contact row">
                                                    <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 cancot">
                                                        <label class="">@Commond.label("l_name"): </label>
                                                        <div class="TextBox">
                                                            @Html.TextBox("txtHoTen", "", new { placeholder = @Commond.label("l_name") })
                                                        </div>
                                                        <p style="color:red;" id="TB_TenKH"></p>
                                                    </fieldset>
                                                    <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 cancot">
                                                        <label class="">Email:</label>
                                                        <div class="TextBox">
                                                            @Html.TextBox("txtemail", "", new { placeholder = "Email" })
                                                        </div>
                                                        <p style="color:red;" id="TB_Email"></p>
                                                    </fieldset>
                                                    <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 cancot">
                                                        <label class="">Phone:</label>
                                                        <div class="TextBox">
                                                            @Html.TextBox("txtphone", "", new { placeholder = "Phone" })
                                                        </div>
                                                        <p style="color:red;" id="TB_SoDienThoai"></p>
                                                    </fieldset>
                                                    <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 cancot">
                                                        <label class="">@Commond.label("lt_password"):</label>
                                                        <div class="TextBox">
                                                            @Html.Password("txtmatkhau", "", new { placeholder = @Commond.label("lt_password") })
                                                        </div>
                                                        <p style="color:red;" id="TB_MatKhau"></p>
                                                    </fieldset>
                                                    <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 cancot">
                                                        <label class="">@Commond.label("l_address"):</label>
                                                        <div class="TextBox">
                                                            @Html.TextBox("txtaddress", "", new { placeholder = @Commond.label("l_address") })
                                                        </div>
                                                        <p style="color:red;" id="TB_DiaChi"></p>
                                                    </fieldset>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 a-left">
                                                        <input id="hdlanguage" name="hdlanguage" type="hidden" value="@language" />
                                                        <input type="submit" value="@Commond.label("l_register")" onclick="return DangKyThanhVien();" class="btnmvc" />
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" value="Đăng nhập" class="btn btn-default" />
                                                            <a class="btn btn-facebook" href="/Members/LoginFacebook">
                                                                <i class="fa fa-facebook"></i>
                                                                Đăng nhập bằng Facebook
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}