@{
    Layout = "~/Views/Shared/_LayoutV2.cshtml";

}
<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-lg-3 col-md-6 chiavi">
                <div class="ibox bg-success color-white widget-stat">
                    <div class="ibox-body">
                        <h2 class="m-b-5 font-strong">@ViewBag.ViBayMuoiPT </h2>
                        <div class="m-b-5">Ví rút</div><i class="fa fa-money widget-stat-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 chiavi">
                <div class="ibox bg-info color-white widget-stat">
                    <div class="ibox-body">
                        <h2 class="m-b-5 font-strong">@ViewBag.ViBaMuoiPT </h2>
                        <div class="m-b-5">Ví tạm giữ</div><i class="fa fa-money widget-stat-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 chiavi">
                <div class="ibox bg-warning color-white widget-stat">
                    <div class="ibox-body">
                        <h2 class="m-b-5 font-strong">@ViewBag.TongTienDaRut</h2>
                        <div class="m-b-5">Tổng đã rút</div><i class="fa fa-money widget-stat-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 chiavi">
                <div class="ibox bg-warning color-white widget-stat">
                    <div class="ibox-body">
                        <h2 class="m-b-5 font-strong">@ViewBag.TongDoanhSoTrongNhom</h2>
                        <div class="m-b-5"> Tổng doanh số trong nhóm </div><i class="fa fa-money widget-stat-icon"></i>
                    </div>
                </div>
            </div>
           

            <div class="col-lg-3 col-md-6 chiavi">
                <div class="ibox bg-danger color-white widget-stat">
                    <div class="ibox-body">
                        <h2 class="m-b-5 font-strong">@ViewBag.lttongthanhvien</h2>
                        <div class="m-b-5">Tổng thành viên F1</div><i class="ti-user widget-stat-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 chiavi">
                <div class="ibox color-white widget-stat" style="background:#5b8d40">
                    <div class="ibox-body">
                        <h2 class="m-b-5 font-strong">@ViewBag.TongTVToanHThong</h2>
                        <div class="m-b-5">Tổng thành viên trong nhóm</div><i class="ti-user widget-stat-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 chiavi">
                <div class="ibox bg-ebony color-white widget-stat">
                    <div class="ibox-body">
                        <h2 class="m-b-5 font-strong" style="font-size:17px;">@Html.Raw(ViewBag.CapBac)</h2>
                        <div class="m-b-5">Cấp bậc</div><i class="ti-user widget-stat-icon"></i>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Tổng doanh số theo tháng</div>
                        <div class="ibox-tools">
                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>

                        </div>
                    </div>
                    <div class="ibox-body chieucaos">
                        <div>
                            <form class="mh-advanced-search mh-no-margin-bottom" action="/wallet.html" method="GET">
                                <div class="Loctimkiem" id="sample_1_length">
                                    <div class="input-group date ngaycoth1">
                                        <input class="form-control inloc" id="TuNgay" name="TuNgay" placeholder="@Commond.label("NgayThangNam")" type="date" value="@ViewBag.TuNgay">
                                        <input class="form-control inloc" id="DenNgay" name="DenNgay" placeholder="@Commond.label("NgayThangNam")" type="date" value="@ViewBag.DenNgay">
                                        <button class="btnss btn-submits inlocsubmits" type="submit">@Commond.label("l_search") !</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="chieucaostrong"></div>
                        <div>
                            <div class="col-lg-12 col-md-12 chiavi">
                                <div class="ibox bg-warning color-white widget-stat">
                                    <div class="ibox-body">
                                        <h2 class="m-b-5 font-strong">@ViewBag.SumF1</h2>
                                        <div class="m-b-5"> Doanh số theo tháng</div><i class="fa fa-money widget-stat-icon"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Link kết nối</div>
                        <div class="ibox-tools">
                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>

                        </div>
                    </div>
                    <div class="ibox-body">
                        <div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <input class="form-control form-control-lg" style="width:100%" id="linkgioithieu" name="linkgioithieu" placeholder="" type="text" value="@ViewBag.linkgioithieu">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default affiliate_url_copy" onclick="affiliate_url_copy()" type="submit">Sao chép</button>
                            </div>
                        </div>

                        <div style="text-align:center; padding:20px">
                            <div>QR code kết nối</div>
                            <img src="@ViewBag.QRCode" style=" width:300px; border:1px solid #d7d7d7" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<script>
    $(function () {
        $('#txtHead').html("Ví thành viên");
    });
    function affiliate_url_copy() {
        var copyText = document.getElementById("linkgioithieu");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
        alert("Coppy link thành công: " + copyText.value);
    }
</script>
